<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
      
        <div class="cta-inner-form text-center rounded">
            <form [formGroup]='storeFormModel' (ngSubmit)="onSubmit()">
                <div>Name: <input type='text' class='form-control' name='wineName' formControlName="wineName" [ngClass]="{'is-invalid':f.wineName.errors}"></div> 
                <div *ngIf='storeFormModel.controls.wineName.errors'>
                  <div *ngIf="f.wineName.errors.required" ><span  style='color:red'>Name is required</span></div>
                </div>
                <div>Category: <input type='text' name='category' formControlName="category"></div> 
                <div *ngIf='storeFormModel.controls.category.errors'>
                  <div *ngIf="f.category.errors.categoryError" ><span  style='color:red'>{{f.category.errors.categoryError.description}}</span></div>
                </div>
                <div formGroupName='yearUPC'>
                  <div>Year: <input type='text' name='year' formControlName='year'></div> 
                  <div>UPC: <input type='text' name='upc' formControlName="upc"></div> 
                </div>
                <button type='submit'>Search</button>
              </form>
            
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Please search carefully</span>
          </h2>
          
          <ng-container *ngIf="wineResult">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">UPC</th>
                  <th scope="col">Wine</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let wine of wines; let i = index">
                  <th scope="row">{{i}}</th>
                  <td>{{wine.upc}}</td>
                  <td>{{wine.name}}</td>
                  <td>{{wine.price|currency}}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Come On In</span>
            <span class="section-heading-lower">We're Open</span>
          </h2>
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Detail Item</span>
            <span class="section-heading-lower">From Service</span>
          </h2>
          <p class="mb-0">
            <small>
              <em>The Wine I Got from DB</em>
            </small>
            <br>
            ID is {{wine.upc}} name is {{wine.name}}
          </p>
          
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Sunday
              <span class="ml-auto">Closed</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Monday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Tuesday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Wednesday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Thursday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Friday
              <span class="ml-auto">7:00 AM to 8:00 PM</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Saturday
              <span class="ml-auto">9:00 AM to 5:00 PM</span>
            </li>
          </ul>
          <p class="address mb-5">
            <em>
              <strong>1116 Orchard Street</strong>
              <br>
              Golden Valley, Minnesota
            </em>
          </p>
          <p class="mb-0">
            <small>
              <em>Call Anytime</em>
            </small>
            <br>
            (317) 585-8468
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

