<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/assets/img/about.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">New World Wines, Old World Values</span>
              <span class="section-heading-lower">About Our Store</span>
            </h2>
            <p>Founded in 2019 by the Plotnik brothers, we have been serving the wine community with products sourced from vintners from various regions of the world. We are dedicated to travelling the world, finding the best wine, and making them available to you.</p>
            <p class="mb-0">We guarantee that you will fall in <em>love</em> with our decadent vintages, and so will your customers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
