<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Admin</span>
            <!--<span class="section-heading-lower">We're Open</span> -->
          </h2>
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">
              <a class="nav-link text-uppercase text-expanded" [routerLink]="['/addwine']">Add</a>
            </span>
            <router-outlet></router-outlet>
            <!--<span class="section-heading-lower">From Service</span>-->
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>


<router-outlet></router-outlet>